sim.csv
users.csv
virtual
orders_export_processed.csv
productsXtags.csv
.ipynb_checkpoints
__pycache__
lea_clothing
model_1
debug.py
title2handle
avg_item_ratings
product_names
product_tags
sim_desc
temp_type_mapping.ipynb
lea_cron_schedule.py
mumbaiEc2.pem
mumbai_ppk.ppk
prices_and_product_types.csv
orders_export_processed.csv
order_export_1.csv
customers_export.csv
products_export_1.csv
Procfile
stress.py
ga_top_selling
lea_cron_log